*{
    padding:  0 0.1rem 0 0;
    margin: 0 0 0 0;
}



body{
    background-color: rgb(20, 20, 44);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(13, 13, 37);
}
.left{
    font-size: 1.4rem;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    margin: 0 22px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
nav ul li a:hover{
    color: rgb(113, 113, 198);
    font-size: 0.92rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
    align-items: center;
    height: 450px;
}
.firstsection > div{
    width: 32%;
}
.leftsection{
    font-size: 1.8rem;
    margin: 50px;
}

hr{
    margin: 0 20px 0 20px;
    background-color: #304bb6;
    opacity: 0.37;
}
.purple , #element{
    color: rgb(163, 108, 214);
}

.secondsection{
    margin: 2rem 25px 1rem 25px;
    padding: 0.75rem 1rem 0.75rem 1rem;
    height: auto;
}

.technicalskills{
    display: flexbox;
    
   /* justify-content: space-around; */
    

}

.lefttech, .righttech{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    
    
    
}
.p{
    padding-right: 2rem;
    width: auto;
    flex-wrap: wrap;
}

#leftskill, #rightskill{
    margin: 0.75rem 0.5rem 0.75rem 0.5rem;
    padding: 0.2rem 0.6rem 0.2rem 0.6rem;
    width: auto;
}

/* {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
 } */

.btn{
    margin-top: 1.2rem;
    margin-right: 0.5rem;
    height: 40px;
    width: 80px;
    font-size: 0.9rem;
    background-color: #8315b2;
    color: white;
    border: none;
    border-radius: 20px;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transform-style: flat;

}


.heading{
    margin: 0 0 0 2rem;
    font-size: 1.4rem;
    color: rgb(184, 154, 213);
    font-weight: 600;
}

h4{
    margin-bottom: 0.75rem;
    color: rgb(168, 132, 201);
    font-size: 1rem;
    font-weight: 400;
}

#leftskill > p{
    font-weight: 300;
    font-size: 0.8rem;
    padding-right: 0.75rem;
}


#rightskill > p{
    font-weight: 300;
    font-size: 0.8rem;
    padding-right: 0.75rem;
}
#leftskill > img{
    height: 40px;
    width: 40px;
    justify-content: space-around;
    padding-top: 0.5rem;
    background-color: rgb(201, 196, 208); 
    border-radius: 1.5rem; 
    padding-top:0;
    margin-top: 0.5rem;
}

#leftskill > img:hover{
    transform: scale(0.75);
    transition-delay: 0.2s;
    cursor: pointer;
}

#rightskill > img{
    height: 40px;
    width: 40px;
    justify-content: space-around;
    padding-top: 0.5rem;
    background-color: rgb(180, 173, 191); 
    border-radius: 1.5rem; 
    padding-top:0rem;
    margin-top: 0.5rem;
}
#rightskill > img:hover{
    transform: scale(0.75);
    transition-delay: 0.2s;
    cursor: pointer;
}

.thirdsection{
    margin: 2rem 25px 1.2rem 25px;
    padding: 0.75rem 1rem 0.75rem 1rem;
    height: 500px;
    width: auto;
    
}

.projects{
    display: flex;
    width: fit-content;
    /* flex-direction: column; */
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    font-weight: 700;
    color: #d9b0eb;
    margin: 0.5rem 0 0.5rem 0;
}
.projectimg{
    height: 100px;
    width: 150px;
    margin: 0.5rem 0 0.5rem 0;
}


.major{
    /* width: 607px; */
    margin: 10px 10px 10px 10px ;
    padding:  10px 10px 10px 20px ;
    background-color: #0e0627;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.major > .mfirst~.msecond{
    /* width: 591px; */
    /* margin: 10px 10px 10px 10px ;
    padding:  10px 12px 10px 20px ; */
    background-color: #0e0627;
    border-radius: 10px;
}

.mini{
    /* width: 607px; */
    margin: 10px 10px 10px 10px ;
    padding:  10px 12px 10px 20px ;
    background-color: #0e0627;
    border-radius: 10px;display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mfirst, .mnfirst{
    height: 333px;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}
